@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body_default dark:text-white text-black;
}

main.auth-layout {
  @apply w-full h-full  flex-col lg:flex-row flex flex-auto min-h-dvh;
}

main.auth-layout .side-content {
  @apply w-full lg:flex hidden  flex-col items-center justify-center gap-16 p-6 pt-header_desktop_height bg-[#24282e] max-w-[480px] text-center;
}

.h3 {
  @apply text-[32px] leading-[1.50] font-bold;
}

.h5 {
  @apply text-[20px] font-bold;
}

.body1 {
  @apply text-[16px] leading-[1.50] font-normal;
}

.body2 {
  @apply text-[14px] leading-[1.57] font-normal;
}

.authentication-platform-list {
  @apply flex gap-4;
}

.authentication-platform-list .disabled {
  @apply cursor-not-allowed grayscale;
}

.authentication-platform-list img {
  @apply min-w-8 min-h-8 max-w-8 max-h-8;
}

main.auth-layout .main-content {
  @apply w-full flex items-center justify-center py-20 px-4;
}

main.auth-layout .main-content .content-box {
  @apply w-full flex flex-col max-w-[420px] space-y-10;
}

main.auth-layout .main-content .content-box .authentication-platform-btn-list {
  @apply flex items-center justify-center gap-4;
}

main.auth-layout
  .main-content
  .content-box
  .authentication-platform-btn-list
  button {
  @apply min-w-10 min-h-10 max-w-10 max-h-10 flex items-center justify-center;
}

main.auth-layout
  .main-content
  .content-box
  .authentication-platform-btn-list
  button:hover,
main.auth-layout
  .main-content
  .content-box
  .authentication-platform-btn-list
  button:focus {
  @apply bg-actions-hover rounded-full;
}

main.auth-layout .main-content .content-box .divider {
  @apply font-bold uppercase text-disabled_text text-center border-0  border-solid whitespace-nowrap;
}

main.auth-layout .main-content .content-box .divider::before {
  @apply border-dashed w-full  self-center;
}

main.auth-layout .main-content .content-box form {
  @apply w-full space-y-6;
}

main.auth-layout .main-content .content-box form button {
  @apply h-12 flex items-center justify-center font-bold text-base rounded-lg bg-white text-gray-800 w-full transition-all;
}

.input-group {
  @apply space-y-2 relative;
}

.input-group input {
  @apply bg-transparent rounded-shaps border border-solid border-gray-600  transition-colors outline-none py-4 px-3.5 h-auto max-h-[54px] w-full;
}

.input-group input::placeholder {
  @apply text-secondary_text text-sm;
}

.input-group input:hover,
.input-group input:focus {
  @apply border-white;
}

.input-group:hover label,
.input-group:focus-within label {
  @apply text-white  transition-colors;
}

.input-group label {
  @apply text-secondary_text text-sm ml-3 -mb-2.5 relative z-10 bg-body_default w-fit px-1.5 block cursor-pointer;
}

.input-group.error label {
  @apply text-error;
}

.input-group.error input {
  @apply border-error;
}

.main-header {
  @apply flex items-center justify-between w-full px-6 h-header_desktop_height fixed top-0 left-0;
}

.main-header .drawer-btn {
  @apply rounded-full flex items-center justify-center hover:bg-actions-hover focus:bg-actions-hover min-w-8 max-w-8 min-h-8 max-h-8;
}

.auth-layout.center .side-content {
  @apply hidden;
}

.auth-layout.center .main-content {
  @apply bg-[#24282e];
}

.auth-layout.center .main-content .content-box {
  @apply bg-body_default rounded-xl py-10 px-6;
}

.layout-wrapper {
  @apply w-full h-full flex;
}

.layout-sidebar {
  @apply h-dvh border-r border-solid border-[rgba(145,158,171,0.08)]  w-full flex flex-col;
}

.layout-sidebar.main {
  @apply max-w-72;
}

.layout-sidebar.mini {
  @apply max-w-20;
}

.layout-sidebar .sidebar-header {
  @apply pt-5 pl-5 pb-2 relative;
}

.layout-sidebar .sidebar-header .sidebar-toggle-btn {
  @apply flex items-center justify-center border border-solid border-[rgba(145,158,171,0.08)] min-w-7 min-h-7 max-w-7 max-h-7 rounded-full absolute -right-3 bg-body_default top-1/2 -translate-y-1/2;
}

.layout-sidebar .sidebar-body {
  @apply h-full w-full overflow-y-auto py-2;
}

.layout-sidebar .sidebar-body .sidebar-link-group {
  @apply space-y-1.5 px-3;
}

.layout-sidebar .sidebar-body .sidebar-link-group .sidebar-link {
  @apply w-full rounded-shaps cursor-pointer flex items-center justify-between py-2.5 px-3 text-sm font-semibold text-grey-600;
}

.layout-sidebar .sidebar-body .sidebar-link-group .sidebar-link:hover {
  @apply bg-actions-hover;
}

.layout-sidebar .sidebar-body .sidebar-link-group .sidebar-link svg {
  @apply inline mr-2;
}

.layout-sidebar .sidebar-body .sidebar-link-group .sidebar-link svg path {
  @apply fill-grey-600;
}

.layout-sidebar .sidebar-body .sidebar-link-group .sidebar-link.active {
  @apply bg-[#00a76f29] text-primary-light;
}

.layout-sidebar.mini .sidebar-body .sidebar-link-group {
  @apply px-1;
}

.layout-sidebar.mini .sidebar-body .sidebar-link-group .sidebar-link {
  @apply max-w-full flex-col text-[10px] py-1.5;
}

.layout-sidebar.mini
  .sidebar-body
  .sidebar-link-group
  .sidebar-link
  div:nth-child(1) {
  @apply flex-col items-center;
}

.layout-sidebar.mini .sidebar-body .sidebar-link-group .sidebar-link svg {
  @apply mr-0 mb-1;
}

.layout-sidebar.mini .sidebar-body .sidebar-link-group p:nth-child(1) {
  @apply hidden;
}

.layout-sidebar.mini .sidebar-header .sidebar-toggle-btn svg {
  @apply rotate-180;
}

.layout-sidebar.mini
  .sidebar-body
  .sidebar-link-group
  .sidebar-link
  div:nth-child(2) {
  @apply hidden;
}

.layout-sidebar
  .sidebar-body
  .sidebar-link-group
  .sidebar-link.active
  svg
  path {
  @apply fill-primary;
}

.layout-wrapper .main-layout {
  @apply w-full h-dvh overflow-y-auto relative;
}

.layout-wrapper .main-layout .layout-header {
  @apply w-full  top-0  h-header_desktop_height sticky flex items-center justify-between px-10;
}

.btn-icon {
  @apply rounded-full flex items-center justify-center min-w-9 min-h-9 max-w-9 max-h-9 hover:bg-actions-hover;
}

.dropdown-parent {
  @apply relative;
}

.dropdown-parent .dropdown {
  @apply p-1 min-w-52 bg-grey-800 rounded-shaps backdrop-blur-xl absolute hidden overflow-hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.24) -20px 20px 40px -4px;
}

.dropdown-parent .dropdown.bottom-end {
  @apply top-full right-0 mt-1;
}

.dropdown-parent .dropdown.bottom-start {
  @apply top-full left-0 mt-1;
}

.dropdown-parent.active .dropdown {
  @apply !block;
  animation: fadeIn 0.2s ease-out;
  -webkit-animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drawer {
  @apply fixed top-0 -right-[9999px]  h-dvh z-drawer bg-body_default_channel bg-opacity-50 backdrop-blur-xl w-full max-w-96;
}

.drawer.drawer-show {
  @apply right-0;
  animation: slideInRight 0.5s ease-out;
  -webkit-animation: slideInRight 0.5s ease-out;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
